@model PieListViewModel

@{
    Layout = "_Layout";
    // we don't need to specify the full path to _Layout because views/shared is a 'known folder' to c# MVC
    // we don't need to specify the file extension .cshtml for the same reason
    // this code is redundant now that we have our _ViewStart.cshtml file
}

<h1>@Model.CurrentCategory</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
@foreach(var pie in Model.Pies)
{
    <div class="col">
        <div class="card pie-card">
            <img src="@pie.ImageThumbnailUrl" class="card-img-top" alt="@pie.Name">
            <div class="card-body pie-button">
                <h4 class="d-grid">
                </h4>

                <div class="d-flex justify-content-between mt-2">
                    <h2 class="text-start">
                        <a class="pie-link">@pie.Name</a>
                    </h2>
                    <h5 class="text-nowrap">
                        @pie.Price.ToString("c")
                    </h5>
                </div>
            </div>
        </div>
    </div>
}
</div>